*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    font-family: poppins;

}

section {
    padding: 3em 2em;
}

.clip-art {
    width: 5%;
    margin-left: 2em;
    margin-top: -1em;
    /* height: auto; */
}

/* nav { */
/* padding: 0; */
/* height: fit-content; */
/* } */

.logo {
    text-decoration-line: none;
    font-weight: bolder;
    color: black;
    font-size: 2em;
    font-style: italic;
    font-family: "cursive";
}

.primary-nav {
    display: flex;
    justify-content: right;
    margin-right: 12em;
    text-decoration-style: none;
    padding-top: 2.5em;
    padding-bottom: -6em;
    height: 1.5em;
    /* word-spacing: 4em; */
    font-size: 1.3em;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: darkorange;
    text-decoration-thickness: 0.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(61, 61, 61)
}

ul li a {
    padding: 2rem;
    font-weight: 550;
}



.effect {
    height: 100vh;
    background-image: linear-gradient(110deg, transparent 50%, #F6B400 50%);
}

h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
}

p {
    line-height: 1em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.truck {
    width: 30%;
    padding-top: 2em;
    margin-left: 8em;
    /* padding-bottom: 2em; */

}

.order {
    background-color: rgba(255, 140, 0, 0.842);
    color: rgb(248, 246, 246);
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1.2em;
    border-radius: 5em 5em 0 5em;
    border-left: 5em;
    /* display: left; */
}

.lft {
    margin-top: 5em;
    text-align: left;
    margin-left: 1.5em;
    margin-right: 2em;
    /* padding-right: -12em; */
    /* margin-right: 10em; */
    /* padding-right:-10em; */
}

h1 {
    padding-right: 3em;
}

.container2 {
    display: flex;
    margin: 3em;
    justify-content: space-between;

}

.loc {
    font-size: 1.2em;
    color: rgb(102, 101, 101);
    font-weight: 550;
    margin-bottom: 6em;
}

.right {
    width: 45%;
    margin-top: -1.5em;
    margin-left: 8em;
    /* display: flex; */
    /* float: right; */
    /* position: relative; */

}

.juice {
    padding: 0;
    width: 25%;
    margin-left: 8em;
}

.preview-section {
    text-align: center;
    padding: 3em 1em;
    width: 95%;
    margin: 0em 0em 0em 2em;
    display: flex;
    justify-content: space-between;
}

.blocks {
    border: 1px solid rgb(175, 174, 174);
    border-radius: 1em;
    display: grid;
    margin-right: 1em;
    text-align: center;
    font-size: 0.8em;
    align-content: space-between;
    padding: 2em 2em 2em 2em;


}

.left-pane {
    width: 50%;
    height: available;
    float: left;
    margin-right: 2em;
    margin-top: 2em;
    /* height: 50%; */
    padding-left: 10em 5em 5em 10em;


}

.middle-pane {
    width: 50%;
    /* height: available; */
    /* float: center; */
    /* height: 80%; */
    margin-right: 2em;
    padding-left: 10em 5em 5em 10em;
}

.right-pane {
    width: 50%;
    height: available;
    float: right;
    /* height: 50%; */
    margin-top: 2em;
    margin-right: 2em;
    padding-left: 10em 5em 5em 10em;

}

.amount {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    margin-left: 1em;

}

.lt{
    margin-left: 3em;
    margin-top: 6em;
    font-size: 2em;
    /* display: grid; */

}
.explode{
    font-size: 0.9em;
}

h4 a{
    margin-left: 20em;
    text-align: center;
    font-size: 2em;
    text-decoration-line: underline;
    text-decoration-color: #F6B400;
    text-decoration-thickness: 0.3em;
    
}

.container {
    /* display: grid; */
    width: 95vw;
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin-top: 2rem;
    gap: 1rem;

}
.container li{
    padding: 1em;
    margin: 2em;
    margin-left: 1em;
}
.burgers {
    width: 100%;
    /* height: auto; */
    /* padding:2em; */
}
.loe{
    font-size: 1.15em;
    text-align: center;
}

.yummy {

    border: 1px solid rgba(211, 211, 211, 0.253);
    border-radius: 4em;
    margin-right: 2em;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 0 0px 3px 1px lightgray;

}

.preview-section,
.features-section {
    background-color: rgb(248, 252, 248);
}

h5 {
    text-align: center;
    color: saddlebrown;
    font-size: 2em;
    margin-bottom: 1em;
    /* margin-top: 1em; */
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;

}

.cart {
    width: 18%;
    height: 18%;
    border: 1px solid lightgray;
    border-radius: 1em;
    margin-right: 2em;
}
.img-burger{
    margin-right: -10em;
}
.three-dot{
    /* width: 50%; */
    margin-top: 1.25em;
    color: gray;
}

.im{
    width: 50%;
    
    margin-left: -28em;
}
im2{
    margin-left: 5em;
    padding-right: 2em;
    /* width:2%; */
}

.download-platform {
    width: 20%;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 7.5em;
}

.google {
    margin-right: 2em;
}

.yummy {
    padding: 2em 2em 2em 2em;
}

.features-section {
    height: 100vh;
    display: flex;
/* margin-top: -1em; */
padding-bottom: 5em;
    justify-content: space-between;
}

.mobile-app {
    background-color: rgb(250, 194, 10);
    height: 100vh;
    color: black;
    display: flex;

}

.disc {
    margin-top: 3em;
    color: black;
    font-size: 4em;
    margin-left: 2em;

}
.arw{
    display:flex;
    color: darkorange;
    
}
.phone {
    width: 100%;
    height: 90%;
}

.right-side {
    margin-right: 12em;
    margin-top: 7em;
}

.small {
    width: 25%;
    margin-left: 8em;
}

h3 {
    font-size: 1.9em;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 0.1em;
    color: rgba(128, 0, 0, 0.842);
    margin-bottom: 1em;

}

.right-side {
    float: right;
    justify-content: space-between;
    display: flex;
    gap: 2rem;
}

h6 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-left: -2.5em;
    margin-top: 2em;
}

.contact-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 3rem;
}

.clip-arts {
    width: 25%;
    margin-left: 2em;
    margin-top: -0.5em;
}

.start {
    display: flex;
    align-items: center;
}

.mid>ul {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}

.subscribe {
    background-color: darkorange;
    color: white;
    text-decoration: none;
    padding: 0.6em 1.3em;
    font-size: 1em;
    display: right;
}

.social {
    width: 40%;
    margin-top: 1em;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    margin-bottom: -2em;
    margin-top: 0em;
    /* padding-bottom: 0.5em; */
    font-weight: bold;
    font-size: 0.7em;

}

.end {
    margin-right: 5em;
    margin-top: 2em;
}

.subscribe {
    padding: 0.45em;
    padding-bottom: 0.65em;
    padding-left: 2em;
    padding-right: 2em;

    border-color: transparent;
}

.email {
    padding: 1.33em;
    margin-right: -0.4em;
    border: 1px solid gray;
}

.foot {
    font-size: 1.2em;
    margin-left: -3em;
}

.begin {
    font-size: 1.4em;
}

.end {
    font-size: 1.4em;
    margin-top: -0.5em;
}